body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Tahoma;
}

.container{
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1{
    background-color: black;
    color: white;
    padding: 10px;
}

.btn{
    border-radius: 12px;
    opacity: 0.5;
    padding: 17.5px;
    font-size: 20px;
}